<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- Pantalla de Éxito -->
    <context-param>
        <param-name>successForm</param-name>
        <param-value>/WEB-INF/view/successform.jsp</param-value>
    </context-param>
    <!-- Configuración de la Base de Datos (I) -->
    <resource-ref>
        <res-ref-name>jdbc/TiendaOnline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!-- Resto de pantallas -->
    <context-param>
        <param-name>errorForm</param-name>
        <param-value>/WEB-INF/view/errors/error.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>saleForm</param-name>
        <param-value>/webactionsuser/saleform.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>confirmationSale</param-name>
        <param-value>/WEB-INF/view/confirmationsale.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>mainForm</param-name>
        <param-value>/index.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>createServlet</param-name>
        <param-value>createServlet</param-value>
    </context-param>
    <context-param>
        <param-name>addToShoppingCartServlet</param-name>
        <param-value>addToShoppingCartServlet</param-value>
    </context-param>
    <context-param>
        <param-name>saleServlet</param-name>
        <param-value>saleServlet</param-value>
    </context-param>
    <context-param>
        <param-name>sendEmailServlet</param-name>
        <param-value>sendEmailServlet</param-value>
    </context-param>
    <context-param>
        <param-name>authenticationServlet</param-name>
        <param-value>authenticationServlet</param-value>
    </context-param>
    <context-param>
        <param-name>readServlet</param-name>
        <param-value>readServlet</param-value>
    </context-param>
    <context-param>
        <param-name>deleteServlet</param-name>
        <param-value>deleteServlet</param-value>
    </context-param>
    <context-param>
        <param-name>updateServlet</param-name>
        <param-value>updateServlet</param-value>
    </context-param>
    <context-param>
        <param-name>displayForm</param-name>
        <param-value>/WEB-INF/view/displayform.jsp</param-value>
    </context-param>
    <!-- Configuración de la Base de Datos (II) jdbc:derby://localhost:1527/TiendaOnline -->
    <context-param>
        <param-name>databaseURL</param-name>
        <param-value>TiendaOnline</param-value>
    </context-param>
    <context-param>
        <param-name>databaseDriver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>databasePassword</param-name>
        <param-value>electronixstorelpi</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUser</param-name>
        <param-value>electronixstoreadmin</param-value>
    </context-param>
    <context-param>
        <param-name>persistenceMechanism</param-name>
        <param-value>file</param-value>
    </context-param>
    <!-- Listener de Arranque -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>webactions.StartUpListener</listener-class>
    </listener>
    <!-- Listener de Sesión de Usuario -->
    <listener>
        <listener-class>webactions.SessionListener</listener-class>
    </listener>
    <!-- Páginas de Errores -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/errors/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/view/errors/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/WEB-INF/view/errors/null.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/view/errors/error.jsp</location>
    </error-page>
    <!-- SERVLETS -->
    <servlet>
        <servlet-name>createServlet</servlet-name>
        <servlet-class>webactions.crud.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleServlet</servlet-name>
        <servlet-class>webactions.otheractions.SaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readServlet</servlet-name>
        <servlet-class>webactions.crud.ReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>webactions.crud.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>webactions.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCoolServlet</servlet-name>
        <servlet-class>webactions.MyCoolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartUpListener</servlet-name>
        <servlet-class>webactions.StartUpListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>webactions.crud.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailServlet</servlet-name>
        <servlet-class>webactions.otheractions.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToShoppingCartServlet</servlet-name>
        <servlet-class>webactions.otheractions.AddToShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticationServlet</servlet-name>
        <servlet-class>webactions.otheractions.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createServlet</servlet-name>
        <url-pattern>/crud/createServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readServlet</servlet-name>
        <url-pattern>/crud/readServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/crud/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCoolServlet</servlet-name>
        <url-pattern>/MyCoolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartUpListener</servlet-name>
        <url-pattern>/StartUpListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/crud/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleServlet</servlet-name>
        <url-pattern>/otheractions/SaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailServlet</servlet-name>
        <url-pattern>/otheractions/SendEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticationServlet</servlet-name>
        <url-pattern>/otheractions/AuthenticationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToShoppingCartServlet</servlet-name>
        <url-pattern>/otheractions/addToShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <!-- Tiempo de vida de la Sesión -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Página de Bienvenida -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
